<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="riak"
             type="Riak.Driver.Config.RiakConfigSection, Riak.Driver"/>
  </configSections>

  <riak>
    <client>
      <endpoint name="riak1"
                socketBufferSize="8192"
                messageBufferSize="8192"
                millisecondsSendTimeout="3000"
                millisecondsReceiveTimeout="3000"
                maxConnectionPoolSize="30">
        <servers>
          <!--put you server here-->
          <server host="127.0.0.1" port="8087" />
        </servers>
      </endpoint>
    </client>
  </riak>

</configuration>